body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 320px;
    background: black;
}

#root{
    width: 100%;
    min-height: 100vh;
}

video{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -5;
    object-fit: cover;
    animation: showing 2s linear forwards;
}

.container{
    min-height: 100vh;
    width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--powder-blue);
  margin: 2rem 0;
}

@keyframes showing {
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}
